li {
  padding: 5px;
  margin: 5px;
  background:blue;
  color: aliceblue;
  width: 150px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
.ready{
  float: left;
}
.eaten{
  float:right;
}
.container{
  text-align: center;
}
.burger-adder{
  clear: both;
  width: 100%;
  display: inline-block;
}
h1{
  display: inline-block;
}